$Dark-Grayish-Blue: hsl(217, 19%, 24%);
$Grayish-Blue: hsl(218, 23%, 16%);
$Light-Cyan: hsl(193, 38%, 86%);
$Neon-Green: hsl(150, 100%, 66%);


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    background: $Grayish-Blue;
    font-size: 1.75rem;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    background: $Dark-Grayish-Blue;
    border-radius: 15px;
    text-align: center;
    color: $Light-Cyan;

    width: 39.8%;

    padding: 3rem 3rem 4rem 3rem;
    margin: 9rem 0 0 0;

    position: relative;

    h1 {
        font-size: 0.8rem;
        font-weight: 600;
        letter-spacing: 0.28rem;
        color: $Neon-Green;
        
    }

    p {
        font-weight: 800;
        margin: 1.5rem 0 1.6rem 0;
    }


    .mobile-divider {
        display: none;
    }

    button {
        background: $Neon-Green;
        border-radius: 50%;
        cursor: pointer;
        border: 0;

        padding: 1.3rem 1.3rem 1rem 1.3rem;
        margin: 0 0 1px 0;

        position: absolute;
        left: 44%;
        bottom: -10%;

        transition: background .2s ease, box-shadow .2s ease;

        &:hover {
            background: hsl(150, 100%, 71%);
            box-shadow: 0 0 15px 1px hsl(150, 100%, 69%);
        }

        &:active {
            background: hsl(150, 52%, 41%);
            box-shadow: 0 0 12px 1px hsl(150, 52%, 42%);
        }

    }
}

.attribution {
    font-size: 11px; text-align: center;

}
.attribution a { 
    color: hsl(228, 45%, 44%);
}


@media (max-width: 1300px) {
    body {
        padding: 0 1rem;
    }

    .card {
        min-width: 355px;
        padding: 3rem 1rem 4rem 1rem;

        button {
            background: $Neon-Green;
            border-radius: 50%;
            cursor: pointer;
            border: 0;

            padding: 1.3rem 1.3rem 1rem 1.3rem;
            margin: 0 0 1px 0;

            position: absolute;
            left: 41%;
            bottom: -8%;

        }

        .desktop-divider {
            display: none;
        }

        .mobile-divider {
            display: initial;
        }
    }
}